<h2> We played rock! </h2>
<% if @they == "r"%>
  <h2>They played rock! </h2>
  <h2>We tied! </h2>
<% elsif @they == "p" %>
  <h2>They played paper!</h2>
  <h2>We lost!</h2>
<% elsif @they == 's' %>
  <h2>They played scissors!</h2>
  <h2>We won!</h2>
<%end%>
